{% if field.value == "active" %}
    <span class="badge bg-success text-white text-uppercase">{{ field.value }}</span>
{% elseif field.value == "inactive" %}
    <span class="badge bg-danger text-white text-uppercase">{{ field.value }}</span>
{% else %}
    <span class="badge bg-light text-black text-uppercase">{{ field.value }}</span>
{% endif %}