{% set status = status is defined ? status : field.value %}
{% if status == 1 %}
    <span class="badge bg-success text-white text-uppercase">CONFIRMED</span>
{% elseif status == 2 %}
    <span class="badge bg-light text-danger text-uppercase">VOID</span>
{% else %}
    <span class="badge bg-danger text-white text-uppercase">DRAFT</span>
{% endif %}