/* COLORS */
$primary:#CD1721;
$secondary:#FFCE00;
$tertiary: #FFFCF4;
$blue:#0d132d;

$primary-opacity-1:rgba($primary, 0.1);
$primary-opacity-2:rgba($primary, 0.2);
$red-gradient:linear-gradient(180deg, #FF5C52 0%, #C01419 100%);

$h1-font-size: 60px;
$h2-font-size: 45px;
$h3-font-size: 32px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;

$fs-14: 14px;
$fs-22: 22px;
$line-height-b1: 1.50;
$line-height-b2: 1.6;
$line-height-b3: 1.7;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

$nav-link-padding-y: 0;
$navbar-toggler-padding-y:0;
$navbar-brand-padding-y:0;

$enable-negative-margins: true;
$progress-height:0.5rem;

$transition: 0.4s;

@import "font.css";
@import "datagrid";
@import "~bootstrap";

html, body {
  min-height: 100%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary;
}

h3,h4,h5,h6,.h3,.h4,.h5,.h6{font-weight: 700;}
h1,.h1,h2,.h2{font-weight: 800}
h1 strong, h2 strong, .h1 strong, .h2 strong{color:$primary;}

.hide{display: none}

a {color:#000; text-decoration: none;}
a:hover{color:$primary;}

img[src=''] {display: none;}
img.contain{width:100%;height:100%;object-fit: contain}
img.cover{width:100%;height:100%;object-fit: cover}
img.cover.center{object-position: center !important;}

.ratio-1-1{aspect-ratio:1/1;object-fit:cover;}
.ratio-4-3{aspect-ratio:4/3;object-fit:cover;}
.ratio-4-2{aspect-ratio:4/2;object-fit:cover;}
.ratio-5-2{aspect-ratio:5/2;object-fit:cover;}
.ratio-16-9{aspect-ratio:16/9;object-fit:cover;}

.bg-tertiary{background: $tertiary;}
.card-shadow{box-shadow: 0 4px 8px #0000001a;}

.text-blue{color:$blue;}

$box-shadow: 0 3px 10px #00000014;
.card.cm{background:rgba($primary, .3);border: 0 !important;box-shadow: $box-shadow;border-radius: 20px;}
.card.cm .card-inner{min-width: 180px;}
.card.cm.sm {max-width: 430px;margin: 0 auto;padding:20px;}
.card.cm.md {max-width: 600px;margin: 0 auto;padding:20px;}
.card.cm .symbol{font-size: 50px;font-weight:700;text-transform: uppercase;line-height: 1.25}
.card.cm .note-light{color: rgba($primary, .50); font-size: 12px;}
.btn-theme{background: $primary; color: #fff;font-size: 18px;letter-spacing: 0.075em;}
.btn-theme:hover{background: $secondary; color: #fff;}
.cursor-pointer{cursor: pointer;}

.h1 em, .h2 em {font-style: normal; color: $primary;}

.max-vh-40{max-height: 40vh};
.gslide-image img{background: black}

.form-floating > label {opacity: 0.5}
.form-floating > .form-select.blank ~ label{transform: none;opacity:1;}

@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}
.loading {position: relative;margin-bottom:80px;}
.loading:after {content:''; position: absolute; z-index: 1; bottom: -50px;left:50%;transform: translateX(-50%);border: 6px solid #f3f3f3;border-top: 6px solid #000000;border-radius: 50%;width: 40px;height: 40px;animation: spin 1s linear infinite;}
.load:empty, .modal-body:empty{display: inline-block;width: 2rem;height: 2rem;vertical-align: text-bottom;border: 0.25em solid $primary;border-right-color: transparent;border-radius: 50%;animation: spinner-border .75s linear infinite;margin: 25px auto;}
.btn-spin{position: relative;text-indent: -50em;overflow: hidden;cursor: default !important;opacity: 0.75;padding-left: 15px !important;padding-right: 15px !important;}
.btn-spin:after{content:'';position: absolute;top: calc(50% - 0.5em);left: calc(50% - 0.5em);z-index: 1;width: 1rem;height: 1rem;border: 3px solid #fff;border-right-color: transparent;border-radius: 50%;animation: spin 1s linear infinite;}
.btn .spinner-grow{display: none}
.btn:disabled .spinner-grow{display: inline-block}
.btn-gradient{background:$red-gradient;color:white;}
.btn-gradient:hover{color: white}