{% block extra_javascripts %}
    <script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}
<div class="a2a_kit a2a_default_style d-flex justify-content-center my-4">
    <a class="a2a_button_facebook me-2"><i class="fab fa-facebook fa-2x"></i></a>
    <a class="a2a_button_twitter mx-2"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="a2a_button_whatsapp mx-2"><i class="fab fa-whatsapp fa-2x"></i></a>
    <a class="a2a_button_telegram mx-2"><i class="fab fa-telegram fa-2x"></i></a>
    <a class="a2a_button_linkedin mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
    <a class="a2a_button_copy_link ms-2"><i class="fas fa-copy fa-2x"></i></a>
</div>